<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<style type="text/css">
    .upload-img{position:relative;}
    .upload-img input{opacity: 0;border: 1px solid red;width: 177px;height: 164px;position: absolute;z-index: 1;}
</style>
<script>

    $(function () {
        $("#submit").click(function () {

             var formData = new FormData();
             var img_info = $('#img-upload')[0].files[0];
             formData.append('img',img_info);
            $.ajax({
				type : "POST",
				url : "/uploadFile/",
				contentType : "application/json;charset=UTF-8",
				data : formData,
                processData:false,
                contentType:false,
				dataType : "html",
                success : function (result, statues, xml) {
                    alert(result);
                }

			});
             return false;
        })
    })
</script>
<body>
<form id="fileForm" action="/uploadFile/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="upload-img">
        <input id="img-upload" type="file" name="img" accept="image/*">
        <img id="img-show" src="默认图片文件路径" class="img-polaroid" width="400" height="400" alt="上传图片" title="上传图片">
    </div>
   <br/>
    <div id="result" width="400" height="50" style="border-bottom-width: 2px"></div>
   <input id="submit" type="submit" value="upload"/>
</form>

<script type="text/javascript">
    $('#img-upload').change(function(e){
        var input = $("#img-upload");
        var file = input[0].files[0];//获取input上传的文件
        if(!file.name){
            alert("未选择图片");
        }else{
            //高版本浏览器对文件上传路径进行了安全处理，无法直接通过获取input的value进行访问，故转化为获取图片的url进行安全访问
            var url = window.URL.createObjectURL(file);//将上传的文件转化为url
            $("#img-show").attr('src', url);//更新img的src属性
        };
    });
</script>

</body>
</html>